.cover {
  background: url('./assets/pubg-bg.jpg');
  background-position: center-center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.logoSize {
  width: 100px;
}